<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylish.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>


    <form action="/login" method="post">
        <link rel="stylesheet" href="/logininpageimbd/styles.css ">
        <img src="https://m.media-amazon.com/images/G/01/imdb/authportal/images/www_imdb_logo._CB667618033_.png"
            alt="logo">
        <div id="submitNewUser">
            <div id="newUserInfo">
                <% if (typeof errorMessage !=='undefined' ) { %>
                    <p style="color: red;">
                        <%= errorMessage %>
                    </p>
                    <% } %>
                        <div class="info_box">
                            <h1>SIGN IN</h1>
                            <% if (typeof successMessage !=='undefined' ) { %>
                                <p style="color: green;">
                                    <%= successMessage %>
                                </p>
                                <% } %>

                                    <% { %>
                                        
                                        Email <br><input type="email" name="email" /><br><br>
                                       <p>Forgot your password?</p>
                                        Password <input type="password" name="password" /><br><br>
                                        <% } %>
                        </div>
            </div>
            <input type="submit" class="createbtn" value="Sign IN" />
            <div>
                <p>Keep signed in. <a href=""><Details></Details></a></p>
            </div>
            <div>
                <p> New to IMDB?</p>
            </div>
            <div>
                <input class="createbtn" value="Create your IMDb account" href="http://localhost:3000/register"/>
            </div>
        </div>
    </form>
   
    <footer class="footer">
        <div class="content has-text-centered">
            <div id="footer-links">
                <a class="footerA" href="https://tinyurl.com/2hv3p954">Help</a> <a class="footerA" href="https://tinyurl.com/yc8h2pxt">Conditions of Use</a> <a class="footerA" href="https://tinyurl.com/mr2ru4vb">Privacy Notice</a>
            </div>
            <div id="footer-text">
                © 1996-2023, Amazon.com, Inc. or its affiliates
            </div>

        </div>
    </footer>

</body>

</html>