<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>


    <form action="/register" method="post">
        <link rel="stylesheet" href="/logininpageimbd/styles.css ">
        <img id="imdbLogo"
            src="https://m.media-amazon.com/images/G/01/imdb/authportal/images/www_imdb_logo._CB667618033_.png">
        <div id="registrationBox">
            <div id="newUserInfo">
                <% if (typeof errorMessage !=='undefined' ) { %>
                    <p style="color: red;">
                        <%= errorMessage %>
                    </p>
                    <% } %>
                        <div>
                            <h1>Create Account</h1>
                            <% if (typeof successMessage !=='undefined' ) { %>
                                <p style="color: green;">
                                    <%= successMessage %>
                                </p>
                                <% } %>

                                    <% { %>
                                        <label>Your Name</label> <br>
                                        <input required type="text" class="blue" name="yourName"
                                            placeholder="First and last name" />
                                        <br><br>
                                        <label>Email</label> <br>
                                        <input required type="email" name="email" />
                                        <br><br>
                                        <label>Username</label><br>
                                        <input required type="text" name="username" />
                                        <br><br>
                                        <label>Password</label> <br>
                                        <input required type="password" name="password" placeholder="at least 8 characters" />
                                        <br><br>
                                        <label>Re-password</label> <br>
                                        <input required type="password" name="reenterpassword" />
                                        <br><br>
                                        <!-- Add this to your register.ejs file -->

                                        <% } %>
                                            <input id="createbtn" type="submit"  value="Create your IMDb account" />
                        </div>
            </div>
            <div id="apple">
                Already have an account?<a href="/login">Sign In ▸</a>
            </div>

        </div>
    </form>
    <footer class="footer">
        <div class="content has-text-centered">
            <div id="footer-links">
                <span class="footer-seperator"></span>
                <a class="a-link" href="https://tinyurl.com/2hv3p954">Help</a>
                <span class="footer-seperator"></span>
                <a class="a-link" href="https://tinyurl.com/yc8h2pxt">Conditions of Use</a>
                <span class="footer-seperator"></span>
                <a class="a-link" href="https://tinyurl.com/mr2ru4vb">Privacy Notice</a>
            </div>
            <div id="footer-text">
                © 1996-2023, Amazon.com, Inc. or its affiliates
            </div>

        </div>
    </footer>

</body>

</html>