body{
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div {
    display: block;
}
.password-row {
    width: 100%;
}
.password-label {
    width: 40%;
}



.createbtn {
    color: rgb(1, 1, 1);
    background-color: #f0c14b;
    border: 4px solid black;
    padding: 20px x 40px;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 10px;
}


#submitNewUser{
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 15px;
    font-size: 13px;
    line-height: 19px;
    margin: 0;
    width: 100%;
    }

    .hyper{
        text-align: right
    }